<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="fonts/opensans/opensans.css">
  <link rel="stylesheet" href="style.css">
  <title>Hillel</title>
</head>



<body>
  <header>
    <div class="logo">“</div>
    <h1>Prechu</h1>

    <nav class="topmenu">
      <ul class="submenu">
        <li><a href="#">Home</a></li>
        <li> <a href="#">Portfolio</a></li>
        <li><a href="#">About us</a></li>
        <li> <a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="burger">
      <div class="burger-line"></div>
      <div class="burger-line"></div>
      <div class="burger-line"></div>
    </div>
  </header>

  <main>
    <img src="img/iphone.png" alt="">
    <div>
      <h2>Lorem Ipsum is simply </h2>
      <p> dummy text of the <br>
        printing & typesetting</p>
      <div class="link"><a href="#">Sing up now</a></div>
    </div>

    <div class="conteiner">
      <div class="categories">
        <img src="img/3.png" alt="">
        <div>
          <h3>Contary to popular</h3>
          <p>Lorem Ipsum is not simply random text. <br> It has roots in a piece</p>
        </div>
      </div>

      <div class="categories">
        <img src="img/4.png" alt="">
        <div>
          <h3>Contary to popular</h3>
          <p>Lorem Ipsum is not simply random text. <br> It has roots in a piece</p>
        </div>
      </div>

      <div class="categories">
        <img src="img/5.png" alt="">
        <div>
          <h3>Contary to popular</h3>
          <p>Lorem Ipsum is not simply random text. <br> It has roots in a piece</p>
        </div>
      </div>
    </div>
    <div class="conteiner-two">
      <div class="basket">
        <h2>The Shopping Cart</h2>
        <img src="img/2.png" alt="">
      </div>
      <div class="content">
        <h2>Some Bullet text here</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Exercitationem repellendus quasi vitae praesentium
          quae iusto, sint est maxime dolorum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam deserunt
          ipsam aut quos nihil a nisi quas corporis iure.</p>
      </div>
    </div>
    <footer>
      Copyright © 2012-2013 cssauthor.com </footer>
  </main>
</body>


</html>