* {
    padding: 0;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

header {
    height: 90px;
    width: 1250px;
}

header div,
header h1,
header nav {
    display: inline-block;
    vertical-align: middle;
}

header div,
header h1 {

    margin-top: 22px;
}

.logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(80, 148, 242);
    text-align: center;
    font-size: 60px;
    color: white;
    margin: 22px 5px 0 140px;
}

header h1 {
    font-size: 45px;

}

header nav {
    float: right;
    margin-top: 50px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(145, 145, 145);
    margin: 0 8px;
    padding-bottom: 15px;


}

header nav a:hover {
    border-bottom: 2px solid rgb(80, 148, 242);
    font-weight: bolder;
    margin: 0 8px;
}

body{
    width: 1250px;
    height: 480px;
    box-sizing: border-box;
}

@media screen and (max-width: 640px) {
    header {
        width: 100%;
        box-sizing: border-box;
    }
    
    





}



/* .topmenu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
   */