<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/opensans/opensans.css">
    <link rel="stylesheet" href="style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Hillel</title>
</head>



<body>
    <header>
        <div class="container ">
            <div class="row login">
                <div class="col-6">
                    <ul class="logo">
                        <li> Flat Mate</li>
                    </ul>
                </div>

                <div class="col-6 authorization">
                    <h7>Have an Account ?</h7>
                    <button type="button" class="btn btn-outline-secondary">LOGIN</button>
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="row flex">
                <div class="col-7 content">
                    <h2>Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis ratione est quo dicta,
                        perspiciatis minus rerum similique corporis fuga dolor eius eos alias in labore esse sequi omnis
                        impedit ut!</p>
                    <button type="button" class="btn btn-success btn2">Read More</button>
                </div>

                <div class="col-5 message ">
                    <img src="img/1.png" width="300" alt="">
                </div>
            </div>
        </div>
    </header>
    <section class="block2">
        <div class="container section">
            <div class="row flex2">
                <div class="col-3 center">
                    <img src="img/2.png" width="200" alt="">
                </div>
                <div class="col-6 dlc2text">
                    <h2>Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis ratione est quo dicta,
                        perspiciatis minus rerum similique corporis fuga dolor eius eos alias in labore esse sequi omnis
                        impedit ut! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis ratione est
                        quo dicta,
                        perspiciatis </p>
                </div>
                <div class="col-3 center">
                    <img src="img/3.png" width="60" alt="">
                    <div></div>
                    <img src="img/4.png" width="60" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="block3">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h2>The Modern Era of Web Designing </h2>
                    <p>We make wireframe ultra fast,leak proof</p>
                    <img src="img/carousel.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <h2>The Modern Era of Web Designing </h2>
                    <p>We make wireframe ultra fast,leak proof</p>
                    <img src="img/carousel.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <h2>The Modern Era of Web Designing </h2>
                    <p>We make wireframe ultra fast,leak proof</p>
                    <img src="img/carousel.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>
    </section>
    <section class="block4">
        <h2>A wireframe is the primitive skeleton of your website.</h2>
        <p>Pick a plan from below to get started! Already 20000+ websites and webprojects <br>
            have been successfully wireframed with HotGloo.</p>
        <div class="container">
            <div class="row ">
                <div class="col flex3">
                    <ul class="list-group bgr-li-1">
                        <li class="list-group-item active bgr-1 " aria-current="true"><b>Free</b> </li>
                        <li class="list-group-item coltxt-1"><b>$0/Month</b> </li>
                        <li class="list-group-item">1 Project</li>
                        <li class="list-group-item">5 Members</li>
                        <li class="list-group-item">5 GB</li>
                    </ul>
                    <button type="button" class="btn btn-success btn4 bgr-1">Read More</button>
                </div>
                <div class="col flex3" >
                    <ul class="list-group bgr-li-2">
                        <li class="list-group-item active bgr-2" aria-current="true"><b>Professional</b> </li>
                        <li class="list-group-item coltxt-2"><b>$50/Month</b> </li>
                        <li class="list-group-item">20 Project</li>
                        <li class="list-group-item">50 Members</li>
                        <li class="list-group-item">100 GB</li>
                    </ul>
                    <button type="button" class="btn btn-success btn4 bgr-2">Read More</button>
                </div>
                <div class="col flex3">
                    <ul class="list-group bgr-li-3">
                        <li class="list-group-item active bgr-3" aria-current="true"><b>Enterprise</b> </li>
                        <li class="list-group-item coltxt-3"><b>$90/Month</b> </li>
                        <li class="list-group-item">Unlimitted</li>
                        <li class="list-group-item">Unlimitted</li>
                        <li class="list-group-item">500 GB</li>
                    </ul>
                    <button type="button" class="btn btn-success btn4 bgr-3">Read More</button>
                </div>
    </section>
    <section class="block5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>A wireframe is the primitive skeleton of your website.</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="block6">
        <img src="img/play.png" width="150" alt="">
    </section>
    <section class="block7">
        <div class="form">
            <div class="container">
                <div class="col gmail"><img src="img/gmail.png" width="200" alt=""></div>
                <div class="row flex4">
                    <div class="col-6 ">
                        <label for="Input" class="position-relative ">Name*</label>
                        <input type="text" class="form-control bgrform param" id="Input">

                        <label for="Email" class="form-label position-relative">Email*</label>
                        <input type="email" class="form-control bgrform param" id="Email">
                    </div>

                    <div class="col-6">
                        <label for="Textarea">Message*</label>
                        <textarea type="comment" class="form-control bgrform paramtext" id="Textarea"></textarea>
                    </div>
                </div>
                <div class="col btn-param">
                    <button type="submit" class="btn btn-danger btn5">SEND</button>
                </div>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <div class="row login footer">
                <div class="col-9">
                    <ul class="logo">
                        <li> Flat Mate |</li>
                    </ul>
                    <p>Designed By WWW. CSSAUTHOR.COM</p>
                </div>
                <div class="col-3 social">
                    <img src="img/twitter.png" width="40" alt="">
                    <img src="img/facebook.png" width="40" alt="">
                </div>
            </div>
        </div>

    </footer>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->

</body>

</html>