<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/opensans/opensans.css">
    <link rel="stylesheet" href="style.css">
    <title>Hillel</title>
</head>

<body>


    <header>
        <div class="container">
            <div class="name">Пупкин Василий Иванович</div>
            <nav>
                <a href="#">РЕЗЮМЕ</a>
                <a href="#">ПОРТФОЛИО</a>
                <a href="#">ПРОЕКТЫ</a>
                <a href="#">КОНТАКТЫ</a>
            </nav>
            <h1>ОБО МНЕ</h1>
            <img src="img/1.png" alt="loardin...">
            <div class="info">
                <div class="grad">Пара слов про мне</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis facilis possimus cupiditate molestiae
                    eius
                    cum perferendis architecto molestias magnam pariatur quaerat ab, deleniti minima fuga aut, omnis
                    recusandae ad ullam.</p>
                <div class="infobottom">
                    <p>«Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos ut veritatis amet impedit quis.
                        Fugiat, nam minus. Autem consequuntur nisi beatae iusto sit eligendi, alias delectus, debitis
                        aliquid reiciendis unde.»
                    </p>
                    <p class="fio">Иван Пупкин, <b>Web Desigher</b></p>
                </div>
            </div>
            <div class="development">

                <div class="skills">
                    <div class="grad2">Мои навыки</div>
                    <div class="skill2">Fhotoshop</div>
                    <div class="skill1">HTML</div>
                    <div class="skill1">CSS</div>
                    <div class="skill2">JavaSkript</div>
                    <div class="skill3">Angular</div>
                    <div>
                        <table class="scale">
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                        </table>
                        <table class="scalenumber">
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="affairs">
                    <div class="grad3">Что я делаю</div>
                    <ul>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos ut veritatis
                            Autem consequuntur nisi beatae</li>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos ut veritatis
                            Autem consequuntur nisi beatae</li>
                        <li>Lorem, ipsum dolor sit amet</li>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos ut veritatis
                            Autem consequuntur nisi beatae</li>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos ut veritatis
                            Autem consequuntur nisi beatae</li>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos ut veritatis
                            Autem consequuntur nisi beatae</li>
                    </ul>
                </div>

            </div>
            <img class="kot" src="img/cat.png" alt="loardin...">
            <p class="conclusion"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id obcaecati in dicta
                blanditiis ratione
                odit
                placeat, fugit porro quidem! Veniam fugit totam doloribus non distinctio ea natus pariatur
                exercitationem aliquid.</p>
        </div>
    </header>

    <footer>
        <div>
            <h2>КОНТАКТИ</h2>
            <p>e-mail: vasia@i.ua</p>
            <p>моб. +380990001122</p>
        </div>
        <div>
            <h2>СОЦСЕТИ</h2>
            <ul>
                <li><a href="#">facebook</a></li>
                <li><a href="#">vk</a></li>
                <li><a href="#">linkedin</a></li>
            </ul>
        </div>
        <div class="grad4">Lorem <br> ipsum</div>
        <div class="school"> Hillel,2021</div>
    </footer>
</body>

</html>