<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/opensans/opensans.css">
    <link rel="stylesheet" href="style.css">
    <title>Hillel</title>
</head>

<body>
    <div class="hexagon" id="honeycomb1"></div>
    <div class="hexagon" id="honeycomb2"></div>
    <div></div>
    <div class="hexagon" id="honeycomb3"></div>
    <div class="hexagon" id="honeycomb4"></div>
    <div class="hexagon" id="honeycomb5"></div>
    <div class="hexagon" id="honeycomb6"></div>
    <div></div>
    <div class="hexagon" id="honeycomb7"></div>
    <div class="hexagon" id="honeycomb8"></div>
    <div class="hexagon" id="honeycomb9"></div>
    <div class="hexagon" id="honeycomb10"></div>
    <div class="hexagon" id="honeycomb11"></div>
    <div class="hexagon" id="honeycomb12"></div>
    <div class="hexagon" id="honeycomb13"></div>
    <div></div>
    <div class="hexagon" id="honeycomb14"></div>
    <div class="hexagon" id="honeycomb15"></div>
    <div class="hexagon" id="honeycomb16"></div>
    <div class="hexagon" id="honeycomb17"></div>
    <div class="hexagon" id="honeycomb18"></div>
    <div></div>
    <div class="hexagon" id="honeycomb19"></div>
    <div class="hexagon" id="honeycomb20"></div>
    <div class="content">
        THIS PAGE IS
        <div id="center">YOUR</div>
        <div id="right">HOMETASK</div>
    </div>
</body>

</html>