<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/opensans/opensans.css">
    <link rel="stylesheet" href="style.css">
    <title>Hillel</title>
</head>

<body>


    <header class="container">
        <div class="position">
            <h1>Hello Hillel!</h1>
        </div>
        <div class="grad">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ad sunt vitae voluptas. Eos veniam
                accusamus omnis laboriosam sed aspernatur quos facere in dicta perspiciatis, nam, perferendis eligendi
                odio ipsum.</p>
        </div>
        <div class="grad2">


        </div>
        <div class="footer">
            <p>complete !</p>
        </div>
    </header>

</body>

</html>