<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Hillel</title>
</head>

<body>


    <header>


        <div class="img1">
            <div class="gallery-images" style="background-image: url('img/1.png');">
                <img src="img/1.png" alt="loardin...">
            </div>
        </div>

        <div class="img2">
            <div class="gallery-images" style="background-image: url('img/2.png');">
                <img src="img/2.png" alt="loardin...">
            </div>
        </div>

        <div class="img3">
            <div class="gallery-images" style="background-image: url('img/3.png');">
                <img src="img/3.png" alt="loardin...">
            </div>
        </div>

        <div class="img4">
            <div class="gallery-images" style="background-image: url('img/4.png');">
                <img src="img/4.png" alt="loardin...">
            </div>
        </div>

        <div class="img5">
            <div class="gallery-images" style="background-image: url('img/5.png');">
                <img src="img/5.png" alt="loardin...">
            </div>
        </div>


    </header>

</body>

</html>