<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/opensans/opensans.css">
    <link rel="stylesheet" href="style.css">
    <title>Hillel</title>
</head>

<body>
    <header>
        <h1>STORY</h1>
        <div class="trevel">TREVEL</div>

        <div class="container">

            <h2>Nullam id dolor id nibh ultricies vehicula ut id elit.</h2>
            <p>
                Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec id elit non mi
                porta gravida at eget metus. <br>
                <br>
                Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,
                vestibulum at eros.
            </p>
        </div>
        <div class="gallery-images" style="background-image: url('img/kawah-ijen-volcano.png');">
            <img src="img/kawah-ijen-volcano.png" alt="loardin...">
        </div>
        <div class="link">
            <a href="#">FULL STORY →</a>
        </div>

        <div class="gallery-images1" style="background-image: url('img/3.png');">
            <img src="img/3.png" alt="loardin...">
        </div>

        <div class="container">
            <div class="trevel">QUOTE</div>
            <h2>Nullam id dolor id nibh ultricies vehicula elit. </h2>

        </div>
    </header>




    <footer>
        <div class="subscription">
            <p>Like what you're reading? Get weekly updates that will help you grow as a designer.</p>
            <form action="#" method="GET">
                <input name="name" value="NAME">
                <input type="email" value="EMAIL">
            </form>
            <div class="link">
                <a href="#">FULL STORY →</a>
            </div>


        </div>
    </footer>

    <!-- positioning -->
    <div class="gallery-images1 position" style="background-image: url('img/5.png');">
        <img src="img/5.png" alt="loardin...">
    </div>
    <div class="story position2">
        <p>“Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.
            Curabitur
            blandit tempus porttitor”</p>
        <div> <b>VEN DIESEL</b> 1962-2006</div>
        <div class="link">
            <a href="#">FULL STORY →</a>
        </div>
    </div>
<div class="head position3">
MERCY..
</div>
</body>

</html>