<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/opensans/opensans.css">
    <link rel="stylesheet" href="style.css">
    <title>Hillel</title>
</head>



<body>
    <div class="conteiner">
        <header>
            <h1>Leo/-</h1>
            <nav>
                <ul>
                    <li><a href="#">Solutions</a></li>
                    <li> <a href="#">Products</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li> <a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="content">
                <h2>Introducing</h2>
                <h3> Something hot......</h3>
                <div class="button">
                    <a href="#">Try Demo</a>
                </div>
            </div>
            <div class="coffee">
                <img src="img/coffee.png" alt="">
            </div>
        </header>

        <div class="section">
            <div class="box">
                <div class="shortcut"><img src="img/1.png" alt=""></div>
                <h4>Responsive<br>Websites</h4>
                <div class="info">
                    <img src="img/ipad.png" alt="">
                    <h3>Lorem Ipsum is simply dummy text </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type
                        specimen book. It unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum <br> <br>
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum. passages, and more recently with desktop publishing
                        software like Aldus PageMaker including
                        versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>

            <div class="box">
                <div class="shortcut"><img src="img/2.png" alt=""></div>
                <h4>e Commerce<br>Websites</h4>
                <div class="info">
                    <img src="img/ipad.png" alt="">
                    <h3>Lorem Ipsum is simply dummy text </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type
                        specimen book. It unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum <br> <br>
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum. passages, and more recently with desktop publishing
                        software like Aldus PageMaker including
                        versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>

            <div class="box">
                <div class="shortcut"><img src="img/3.png" alt=""></div>
                <h4>Daily blog<br>Websites</h4>
                <div class="info">
                    <img src="img/ipad.png" alt="">
                    <h3>Lorem Ipsum is simply dummy text </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type
                        specimen book. It unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum <br> <br>
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum. passages, and more recently with desktop publishing
                        software like Aldus PageMaker including
                        versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>

            <div class="box">
                <div class="shortcut"><img src="img/4.png" alt=""></div>
                <h4>Search based<br>Websites</h4>
                <div class="info">
                    <img src="img/ipad.png" alt="">
                    <h3>Lorem Ipsum is simply dummy text </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type
                        specimen book. It unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum <br> <br>
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum. passages, and more recently with desktop publishing
                        software like Aldus PageMaker including
                        versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
        <div class="section2">
            <div class="img">
                <img src="img/screenshot.png" alt="">
            </div>
            <div class="list">
                <h2>Why choose us ?</h2>
                <ul>
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting</li>
                    <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
                    <li>When an unknown printer took a galley of type and scrambled</li>
                    <li>It has survived not only five centuries, but also the leap into electronic </li>
                    <li>It was popularised in the 1960s with the release of Letraset sheets containing</li>
                    <li>More recently with desktop publishing software like Aldus PageMaker </li>
                </ul>
            </div>
        </div>

        <div class="section3">
            <div class="authorization">
                <h3>Member login</h3>
                <form action="#" method="GET">
                    <input type="text" name="name" placeholder="User name">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" value="Log me in." class="button">
                </form>
            </div>
            <div class="emeil">
                <h3>Subscribe to our weekly newsletter</h3>
                <form action="#" method="GET">
                    <input type="email" name="email" placeholder="email address">
                    <input type="submit" value="Subscribe" class="button">
                </form>
            </div>
        </div>

        <footer>
            <img src="img/footer.png" alt="">
        </footer>
    </div>
</body>

</html>