* {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

body{
  margin: 0 auto;
}

.navbar {
  flex-wrap: nowrap !important;
  color: white;
  height: 60px;
  padding: 0px !important;
}

.bg-color {
  background-color: rgb(93, 144, 196);
}

h4 {
  background-color: rgb(75, 124, 173);
  height: 60px;
  font-size:23px !important;
  margin: 0 !important;
  padding: 15px 10px;
  display: flex;
  flex-shrink: 0;
  flex-basis: 210px;
}
h3{
  font-size:23px !important;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;

}

.authorization {
  margin-right: 30px;
  padding-top: 15px;
}

.section {
  display: flex;
}

.sidenav {
  display: flex;
  flex-direction: column;
  flex-basis: 210px;
  background-color: rgb(40, 52, 58);
  flex-shrink: 0;
}

.profile {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  height: 70px;
}

.profile img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.profile div ul {
  color: green;
}

.navigation {
  height: 50px;
  background-color: rgb(34, 45, 50);
  color: #ccc;
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-link.active {
  background-color: rgb(40, 52, 58) !important;
}

.nav-item a,
li a {
  white-space: pre;
}

.form {
  display: flex;
  background-color: rgb(230, 236, 238);
  flex-wrap: wrap;
  justify-content: space-between;
}

.tab {
  padding: 20px 0 0 10px;

}

.tab,
.way {
  height: 50px;
  color: rgb(40, 52, 58);
  width: 500px;
}
.breadcrumb{
  justify-content: center;
}

.way a {
  text-decoration: none;
  color: rgb(40, 52, 58);
}

form {
  width: 780px;
  padding: 10px 10px 0 10px;
  height: 280px;
  background-color: white;
  margin: 20px;
}

form button{
  margin-top: 20px;
}

.password{
  height: 370px;
}

footer{
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 10px;
}


@media screen and (max-width: 960px) {
  .form{
    justify-content: center;
  }
  form{
    width: 500px;
  }
  .way{
    background-color: #ccc;
  }
  .breadcrumb{
    justify-content: left;
  }
}

@media screen and (max-width: 640px) {
  form{
    width: 450px;
  }

  .sidenav{
    display: none;
  }
 
  h4{
    display: none;
  }
  
}