<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/opensans/opensans.css">
    <link rel="stylesheet" href="style.css">
    <title>Hillel</title>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <a href="#" class="active">Home</a>
                <a href="#">Portfolio</a>
                <a href="#">About us</a>
                <a href="#">Contact</a>
            </nav>
            <div class="present">
                <div class="head">
                    <h1>Our strong organaisation</h1>
                    <div class="description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi dolorem assumenda eos numquam
                        omnis facilis, iste, quo natus tenetur hic enim error. Eius facere eos ex odit
                    </div>
                    <a href="#" class="button">Contact Us</a>
                </div>
                <div class="video">
                    <iframe class="video-content" src="https://www.youtube.com/embed/NkmZl1Yy94Q" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
                <div class="last-line"></div>
            </div>
        </div>
    </header>
    <section class="services">
        <div class="container">
            <div class="head">

                <h2>Do you know we can povide for you?</h2>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum atque et veritatis iure laborum
                    culpa, commodi iusto deleniti excepturi quia vel officia, fugit voluptatibus.
                </div>
                <a class="button" href="index.html">Learn More</a>
            </div>
            <div class="block">
                <div class="block-position">
                    <img src="img/management.png" alt="loardin...">
                    <h3>Management</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta inventore laboriosam rerum odio
                        autem?</p>
                </div>
                <div class="block-position">
                    <img src="img/pencil.png" alt="loardin...">
                    <h3>UI/UX Design</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta inventore laboriosam rerum odio
                        autem?</p>
                </div>
                <div class="block-position">
                    <img src="img/diamond.png" alt="loardin...">
                    <h3>Logo / Branding</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta inventore laboriosam rerum odio
                        autem?</p>
                </div>
                <div class="block-position">
                    <img src="img/truck.png" alt="loardin...">
                    <h3>Animation</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta inventore laboriosam rerum odio
                        autem?</p>
                </div>
            </div>
        </div>
    </section>

    <section2 class="gallery">
        <div class="container">
            <h2>feature products</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At reiciendis rem incidunt quos eum nobis,
                aliquam
                id
            </p>
            <div class="line"></div>
            <nav class="gallery-nav">
                <a href="index.html">All</a>
                <a href="index.html">Print template</a>
                <a href="index.html">Web template</a>
                <a href="index.html">User interface</a>
                <a href="index.html">Mock-up</a>
            </nav>
            <div class="gallery-images" style="background-image: url('img/1.png');">
                <img src="img/1.png" alt="loardin...">
            </div>
            <div class="gallery-images" style="background-image: url('img/1.png');">
                <img src="img/1.png" alt="loardin...">
            </div>
            <div class="gallery-images" style="background-image: url('img/1.png');">
                <img src="img/1.png" alt="loardin...">
            </div>
            <div class="gallery-images" style="background-image: url('img/1.png');">
                <img src="img/1.png" alt="loardin...">
            </div>
            <div class="gallery-images" style="background-image: url('img/1.png');">
                <img src="img/1.png" alt="loardin...">
            </div>
            <div class="gallery-images" style="background-image: url('img/1.png');">
                <img src="img/1.png" alt="loardin...">
            </div>
            <div class="gallery-images" style="background-image: url('img/1.png');">
                <img src="img/1.png" alt="loardin...">
            </div>
            <div class="gallery-images" style="background-image: url('img/1.png');">
                <img src="img/1.png" alt="loardin...">
            </div>
    </section2>
    <section3 class="men">
        <div class="container">
            <h2>Meet our team</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolorum quis nemo suscipit odit
                inventore impedit ab consequuntur
            </p>

            <div class="line"></div>
            <div class="men-images" style="background-image: url('img/2.jpg');">
                <img src="img/2.jpg" alt="loardin...">
            </div>
            <div class="men-contacts">
                <h3>MARK WAUGH</h3>
                <div class="description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum facilis architecto
                    suscipit eos
                    incidunt itaque velit eius animi quas
                </div>
                <nav class="men-nav">
                    <a href="#">Facebook</a>
                    <a href="#">Dribble</a>
                    <a href="#">Behance</a>
                    <a href="#">Twitter</a>
                </nav>
                <div class="kot" style="background-image: url('img/stinpank1.jpg');">
                    <img src="img/stinpank1.jpg" alt="loardin...">
                </div>
                <div class="kot" style="background-image: url('img/stinpank2.jpg');">
                    <img src="img/stinpank2.jpg" alt="loardin...">
                </div>
                <div class="kot" style="background-image: url('img/stinpank3.jpg');">
                    <img src="img/stinpank3.jpg" alt="loardin...">
                </div>
                <div class="kot1" style="background-image: url('img/stinpank4.jpg');">
                    <img src="img/stinpank4.jpg" alt="loardin...">
                </div>
            </div>
    </section3>

    <section4 class="meil">
        <div class="container">

            <div class="description">
                <h4>Design tips, tricks, and freebies. Delivered weekly.</h4>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum facilis architecto</p>
            </div>
            <form action="#" method="GET">
                <input type="email" value="Email Address...">
                <input type="submit" value="Subscribe">
            </form>


        </div>
    </section4>
    <section5 class="feedback">
        <div class="container">
            <h2>Get in touch</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolorum quis nemo suscipit odit
                inventore impedit ab consequuntur
            </p>
            <div class="line"></div>

            <div class="paramform">
                <input name="name" type="text" value="Name">
                <input type="email" value="Your Mail">
                <textarea name="name" comment>Type your message</textarea>
                <input type="submit" value="Send message">
            </div>

            <div class="contactinfo">
                <span class="contactinfo1">
                    contact info
                </span>
                <span class="contactinfo2">
                    Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh</br></br>
                    redwan@deviserweb.com</br></br>
                    (+88) 017 617 46373
                </span>
            </div>
        </div>
    </section5>
    <footer>
        <span class="footer-text">&copy; Copyright @Junaed 2016, All rights reserved.</span>
        <div class="footer-contacts">
            <img src="img/twitter.png" alt="loardin...">
            <img src="img/linkedIn.png" alt="loardin...">
            <img src="img/google.png" alt="loardin...">
            <img src="img/facebook.png" alt="loardin...">
        </div>
    </footer>
</body>

</html>